html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

.main-container {
    padding: 0;
}


/*NAVIGATION BAR*/

.navbar-header {
    margin: 0; 
}

.navbar {
    transition: all 0.4s;
}

.nav-item {
    padding: 0 50px;        
}

.nav-link {        
    font-weight: 500;         
}

.img-logo {
    width: 80%;   
}


/* HEADER COVER */

#header-cover {    
    background: linear-gradient(rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(255, 255, 255, 1)), url('../images/rodfox-cover.jpg') no-repeat center center fixed;
    height: 100%;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    color: white; 
    padding: 10% 3% 0;  
}

.zoho-form a {
    font-size: 1.4rem;
}


/* COMPANY */

#company {    
    padding: 0 3%;
    text-align: center;
    font-size: 1.2rem;
}

#company .border {
    box-shadow: 5px 5px 5px 5px #888888;
    margin-top: -8%;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url(../images/design-bg.jpg) no-repeat center center;
    -ms-background-size: cover;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;       
}

.company-title {
    font-size: 3.5rem;
    font-weight: bold;  
    font-family: 'Capriola', sans-serif;
    text-shadow: 5px 5px #10798A; 
    margin-bottom: 35vh;   
}

.company-p {
    padding-left: 50%;
}


/*SERVICES*/

#services {
    padding: 3% 10%;  
    background: url('../images/background-services.png') no-repeat center center;
    background-color:rgba(255, 255, 255); 
    -ms-background-size: initial;   
    -webkit-background-size: initial;
    -moz-background-size: initial;
    -o-background-size: initial;
    background-size: initial;
    font-size: 1.2rem;
}

#services ul {
    list-style-type: none;
}

#services i {
    margin-right: 15px;
}

.img-design {
    max-width: 50%;
}


/* TECH */

#tech-logo {
  background-color: purple;    
  padding: 3% 2%;
}

#tech-logo ul {
    list-style-type: none;
}

#tech-logo img {
    width: 80px;    
}

/* PROJECTS */

#projects {
    padding: 8% 10%;  
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../images/html-code-0.jpg);
    -ms-background-size: initial;  
    -webkit-background-size: initial;
    -moz-background-size: initial;
    -o-background-size: initial;
    background-size: initial;    
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 3em;
    text-align: left;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
  }

  .hovereffect .overlay:before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-20px,0,0);
    transform: translate3d(-20px,0,0);
  }

  .hovereffect:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

/* FOOTER */

footer {
    background: linear-gradient(rgba(0, 0, 255, 0.7), rgba(0, 0, 255, 0.7)), url(../images/contact-map.jpg) no-repeat center center fixed;    
    height: 100vh;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 3% 5%;    
    color: #f1f1f1dc;
}

footer a {
    color: #f1f1f1dc;
    text-decoration: none;
}

footer a:hover {
    color: #f1f1f1d7;
    text-decoration: none;
}


/* MEDIA QUERY */

@media only screen and (min-width: 600px) {
    #tech-logo {        
        height: 5rem;        
    }    
}

@media only screen and (max-width: 1150px) {
    .company-title {
        font-size: 2.5rem;
    }
    #header-cover {
        padding: 15% 3% 0; 
    }
}
  
@media only screen and (max-width: 750px) {    
    .img-design {
        max-width: 100%;
    }
    #header-cover {    
        background: linear-gradient(rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(255, 255, 255, 1)), url('../images/rodfox-cover-mobil.jpg') no-repeat left center fixed;        
        height: 100%;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 20% 3% 0; 
    }
    #company .border {       
        margin-top: -15%;
    }
    .company-p {
        padding-left: unset;
    }
}

@media only screen and (max-width: 500px) {    
    #header-cover {    
        background: linear-gradient(rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(0, 0, 255, 0), rgba(255, 255, 255, 1)), url('../images/rodfox-cover-mobil.jpg') no-repeat center center;        
        height: 100%;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 30% 3% 0; 
    }
    #company {
        font-size: 1rem;
    }
    #company .border {       
        margin-top: -20%;
    }
    .company-title {
        font-size: 2.2rem;
    }
    .contact-title h2 {
        font-size: 1.5em;
    }
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #33393F;
    }     
}
